@font-face {
  font-family: "League Gothic";
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src: url("/_fonts/LeagueGothic-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "League Gothic";
  font-style: italic;
  font-weight: normal;
  font-display: block;
  src: url("/_fonts/LeagueGothic-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src: url("/_fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: normal;
  font-display: block;
  src: url("/_fonts/Inter-Italic.woff2") format("woff2");
}
